# Игнорировать файлы виртуального окружения
.venv

# Игнорировать файлы с логами
*.log

# Игнорировать файлы с результатами тестов
test_results/

# Игнорировать файлы конфигурации
config.ini

# Игнорировать файлы с данными
data/

# Игнорировать файлы с отладочной информацией
*.pyc
__pycache__/

# Игнорировать файлы IDE
.idea/
.vscode/

# Игнорировать файлы с зависимостями
*.egg-info/
dist/
build/